apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: cloud-storage
spec:
  selector:
    app: minio
  ports:
  - name: api
    port: 9000
  - name: console
    port: 9001
  type: ClusterIP